﻿
#fixedButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 2px solid black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.modal {
    display: none;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: 3px solid #f1f1f1;
    background-color: transparent;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 100px;
    max-width: 400px;
    max-height: 450px;
    background-color: lightgray;
}

    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.styleTh {
    font-weight: bold;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}


input.input-validation-error {
    border: 3px solid #e80c4d;
}

#Edit {
    background-color: blue;
    width: auto;
    font-size: small;
}

#Delete {
    background-color: red;
    width: auto;
    font-size: small;
}

#groupButton {
    position: center;
}

.centering {
    text-align: center;
}

#workingPage {
    margin-bottom: 100px;
}

#customButton {
    float: right;
    right: 0;
}

#header {
    margin-top: 20px;
    width: 100%;
}

#addUserButton {
    float: right;
    right: 0;
}

.styleTh {
    font-weight: bold;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}


input.input-validation-error {
    border: 3px solid #e80c4d;
}

#Edit {
    background-color: blue;
    width: auto;
    font-size: small;
}

#Delete {
    background-color: red;
    width: auto;
    font-size: small;
}

#groupButton {
    position: center;
}

.centering {
    text-align: center;
}

.styleLabel {
    font-weight: bold;
}
#buttonGroup{
    position:center;
}
#link{
    margin-top: 10px;
    position: center;
}